#### **Challenge: Use case: imdb top charts**


    Our objective is going to be to scrape information and store it in a pandas dataframe.

In [1]:
# 1. import libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

C:\Users\Privat\anaconda3\lib\site-packages\requests\__init__.py:109: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (5.0.0)/charset_normalizer (2.0.4) doesn't match a supported version!
  warnings.warn(

In [2]:
requests.get('https://www.imdb.com/chart/top')

In [3]:
requests.get('https://www.imdb.com/chart/top/hjhjghgj')

In [4]:
# 2. find url and store it in a variable
url = "https://www.imdb.com/chart/top"

In [5]:
# 3. download html with a get request
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [6]:
soup = BeautifulSoup(response.content, 'html.parser')

In [7]:
# 4.1. parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")
# 4.2. check that the html code looks like it should

In [8]:
#main > div > span > div > div > div.lister > table > tbody > tr:nth-child(1) > td.titleColumn > a
soup.select('#main > div > span > div > div > div.lister > table > tbody > tr:nth-child(1) > td.titleColumn > a')

In [9]:
soup.select('#main > div > span > div > div > div.lister > table > tbody > tr:nth-child(1) > td.titleColumn')[0].a

In [10]:
len(soup.select('#main > div > span > div > div > div.lister > table > tbody > tr:nth-child(1) > td.titleColumn > a'))

1

In [11]:
#main > div > span > div > div > div.lister > table > tbody > tr:nth-child(1) > td.titleColumn > a
soup.select('#main > div > span > div > div > div.lister > table > tbody > tr:nth-child(1) > td.titleColumn > a')[0].get_text()

'Die Verurteilten'

In [12]:
# 5. retrieve/extract the desired info (here, you'll paste the "Selector" you copied before to get the element that belongs to the top movie)

soup.select("#main > div > span > div > div > div.lister > table > tbody > tr > td.titleColumn > a")[0].get_text()

'Die Verurteilten'

In [13]:
# soup.select("#main > div > span > div > div > div.lister > table > tbody > tr > td.titleColumn > a")

In [14]:
soup.select('#main > div > span > div > div > div.lister > table > tbody > tr:nth-child(1) > td.titleColumn > span')[0].get_text()

'(1994)'

In [15]:
soup.select('tr > td.titleColumn > a')[2]['title']

'Christopher Nolan (dir.), Christian Bale, Heath Ledger'

In [16]:
# soup.select('tr > td.ratingColumn strong')#[0].get_text()

In [17]:
soup.select('tr > td.titleColumn span')[0].get_text()

'(1994)'

In [18]:
rating = []
for r in soup.select('td.ratingColumn strong'):
    rating.append(r.get_text())

In [19]:
soup.select('tr > td.titleColumn')[1].a['title']

'Francis Ford Coppola (dir.), Marlon Brando, Al Pacino'

In [20]:
len(soup.select('tr > td.titleColumn'))

250

In [21]:
soup.select('tr > td.titleColumn')[0].a.get_text()

'Die Verurteilten'

In [22]:
soup.select('tr > td.titleColumn')[0].span.get_text()

'(1994)'

In [23]:
soup.select('tr > td.titleColumn > span')[0]['class']

['secondaryInfo']

In [24]:
soup.select('tr > td.titleColumn')[0].a['title']

'Frank Darabont (dir.), Tim Robbins, Morgan Freeman'

In [25]:
soup.select('tr > td.titleColumn span')[0]['class']

['secondaryInfo']

In [26]:
for idx, k in enumerate(soup.select('tr > td.titleColumn span')[0:3]):
    print(soup.select('tr > td.titleColumn span')[idx]['class'])

['secondaryInfo']
['secondaryInfo']
['secondaryInfo']

In [27]:
type(soup.select('td.titleColumn a'))

bs4.element.ResultSet

In [28]:
type(soup.select('td.titleColumn a')[0])

bs4.element.Tag

In [29]:
years = []
titles = []
dirs = []

for p in soup.select('tr > td.titleColumn'):
    titles.append(p.a.get_text())
    years.append(p.span.get_text())
    dirs.append(p.a['title'])

In [30]:
pd.Series(years).to_frame(name='Years')

      Years
0    (1994)
1    (1972)
2    (2008)
3    (1974)
4    (1957)
..      ...
245  (1975)
246  (1982)
247  (2011)
248  (1992)
249  (1999)

[250 rows x 1 columns]

In [31]:
pd.Series(titles).to_frame(name='Movie_Title')

                Movie_Title
0          Die Verurteilten
1                  Der Pate
2           The Dark Knight
3                Der Pate 2
4    Die zwölf Geschworenen
..                      ...
245      Uzala, der Kirgise
246                  Gandhi
247                The Help
248                 Aladdin
249  Der Gigant aus dem All

[250 rows x 1 columns]

In [32]:
pd.Series(dirs).to_frame(name='Directors')

                                             Directors
0    Frank Darabont (dir.), Tim Robbins, Morgan Fre...
1    Francis Ford Coppola (dir.), Marlon Brando, Al...
2    Christopher Nolan (dir.), Christian Bale, Heat...
3    Francis Ford Coppola (dir.), Al Pacino, Robert...
4        Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb
..                                                 ...
245  Akira Kurosawa (dir.), Maksim Munzuk, Yuriy So...
246  Richard Attenborough (dir.), Ben Kingsley, Joh...
247        Tate Taylor (dir.), Viola Davis, Emma Stone
248  Ron Clements (dir.), Scott Weinger, Robin Will...
249  Brad Bird (dir.), Eli Marienthal, Harry Connic...

[250 rows x 1 columns]

In [33]:
df = pd.DataFrame(
    {"movie_name": titles,
     "director_stars": dirs,
     "release_year": years,
     "rating":rating
    })

In [34]:
df.to_csv("imdb_top_movies.csv")

In [35]:
df

,movie_name,director_stars,release_year,rating
0,Die Verurteilten,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",(1994),9.2
1,Der Pate,"Francis Ford Coppola (dir.), Marlon Brando, Al...",(1972),9.2
2,The Dark Knight,"Christopher Nolan (dir.), Christian Bale, Heat...",(2008),9.0
3,Der Pate 2,"Francis Ford Coppola (dir.), Al Pacino, Robert...",(1974),9.0
4,Die zwölf Geschworenen,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",(1957),9.0
...,...,...,...,...
245,"Uzala, der Kirgise","Akira Kurosawa (dir.), Maksim Munzuk, Yuriy So...",(1975),8.0
246,Gandhi,"Richard Attenborough (dir.), Ben Kingsley, Joh...",(1982),8.0
247,The Help,"Tate Taylor (dir.), Viola Davis, Emma Stone",(2011),8.0
248,Aladdin,"Ron Clements (dir.), Scott Weinger, Robin Will...",(1992),8.0
249,Der Gigant aus dem All,"Brad Bird (dir.), Eli Marienthal, Harry Connic...",(1999),8.0

In [36]:
soup.select('td.titleColumn a')[0] # dot notation to access the child and square brackets notations to access attr

In [37]:
soup.select('td.titleColumn a')[0]['title']

'Frank Darabont (dir.), Tim Robbins, Morgan Freeman'

In [38]:
# soup.select("td.titleColumn") # all the info about all the movies

In [39]:
# soup.select("td.titleColumn a") # all elements containing movie titles

In [40]:
# we can use .get_text() to extract the content of the tags we selected
# we'll need to do it to each tag with a for loop: here we do it to the first one
soup.select("td.titleColumn a")[0]
#soup.select("td.titleColumn a")[0].get_text()

In [41]:
# the director and main stars are in the same tag, but as a value of the attribute "title"
# we can access attributes as key-value pairs of dictionaries: using ["key"] to get the value:
soup.select("td.titleColumn > a")[0]["title"] 

# instead of ["title"] we could use .get("title"): choose whatever you prefer

'Frank Darabont (dir.), Tim Robbins, Morgan Freeman'

In [42]:
# the years are inside a 'span' tag with the 'secondaryInfo' class
# we also specify the parent tag and its class, which is the same we used before
# the years are inside parentheses, but we'll take care of that later
soup.select("td.titleColumn span.secondaryInfo")[0].get_text()

'(1994)'

### Storing information in lists

In [43]:
#initialize empty lists
title = []
dir_stars = []
year = []

In [44]:
# define the number of iterations of our for loop 
# by checking how many elements are in the retrieved result set
# (this is equivalent but more robust than just explicitly defining 250 iterations)
num_iter = len(soup.select("td.titleColumn a"))
num_iter

250

In [45]:
table = soup.select("tbody > tr")

In [46]:
len(table)

250

In [47]:
table[2].select("td.titleColumn a")

In [48]:
for p in soup.select('tr > td.titleColumn'):
    titles.append(p.a.get_text())
    years.append(p.span.get_text())
    dirs.append(p.a['title'])

In [49]:
# iterate through the result set and retrive all the data
for i in range(num_iter):
    title.append(soup.select("td.titleColumn a")[i].get_text())
    dir_stars.append(soup.select("td.titleColumn a")[i]["title"])
    year.append(soup.select("td.titleColumn span.secondaryInfo")[i].get_text())

In [50]:
assert len(title) == len(dir_stars) == len(year)

### Storing information in pandas DataFrames

In [51]:
movies_df = pd.DataFrame(
    {"movie_name": title,
     "director_stars": dir_stars,
     "release_year": year
    }
)

In [52]:
movies_df.head()

,movie_name,director_stars,release_year
0,Die Verurteilten,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",(1994)
1,Der Pate,"Francis Ford Coppola (dir.), Marlon Brando, Al...",(1972)
2,The Dark Knight,"Christopher Nolan (dir.), Christian Bale, Heat...",(2008)
3,Der Pate 2,"Francis Ford Coppola (dir.), Al Pacino, Robert...",(1974)
4,Die zwölf Geschworenen,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",(1957)

#### **Challenge: Cleaning the data**

In [53]:
movies1 = movies_df

In [54]:
movies1.dtypes

movie_name        object
director_stars    object
release_year      object
dtype: object

In [55]:
movies1['release_year_cleaning'] = movies1['release_year'].str.replace('(','')

C:\Users\Privat\AppData\Local\Temp\ipykernel_21264\746436023.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movies1['release_year_cleaning'] = movies1['release_year'].str.replace('(','')

In [56]:
movies1

,movie_name,director_stars,release_year,release_year_cleaning
0,Die Verurteilten,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",(1994),1994)
1,Der Pate,"Francis Ford Coppola (dir.), Marlon Brando, Al...",(1972),1972)
2,The Dark Knight,"Christopher Nolan (dir.), Christian Bale, Heat...",(2008),2008)
3,Der Pate 2,"Francis Ford Coppola (dir.), Al Pacino, Robert...",(1974),1974)
4,Die zwölf Geschworenen,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",(1957),1957)
...,...,...,...,...
245,"Uzala, der Kirgise","Akira Kurosawa (dir.), Maksim Munzuk, Yuriy So...",(1975),1975)
246,Gandhi,"Richard Attenborough (dir.), Ben Kingsley, Joh...",(1982),1982)
247,The Help,"Tate Taylor (dir.), Viola Davis, Emma Stone",(2011),2011)
248,Aladdin,"Ron Clements (dir.), Scott Weinger, Robin Will...",(1992),1992)
249,Der Gigant aus dem All,"Brad Bird (dir.), Eli Marienthal, Harry Connic...",(1999),1999)

In [57]:
movies1['release_year'] = movies1['release_year_cleaning'].str.replace(')','')

C:\Users\Privat\AppData\Local\Temp\ipykernel_21264\3369406480.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movies1['release_year'] = movies1['release_year_cleaning'].str.replace(')','')

In [58]:
movies1

,movie_name,director_stars,release_year,release_year_cleaning
0,Die Verurteilten,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",1994,1994)
1,Der Pate,"Francis Ford Coppola (dir.), Marlon Brando, Al...",1972,1972)
2,The Dark Knight,"Christopher Nolan (dir.), Christian Bale, Heat...",2008,2008)
3,Der Pate 2,"Francis Ford Coppola (dir.), Al Pacino, Robert...",1974,1974)
4,Die zwölf Geschworenen,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",1957,1957)
...,...,...,...,...
245,"Uzala, der Kirgise","Akira Kurosawa (dir.), Maksim Munzuk, Yuriy So...",1975,1975)
246,Gandhi,"Richard Attenborough (dir.), Ben Kingsley, Joh...",1982,1982)
247,The Help,"Tate Taylor (dir.), Viola Davis, Emma Stone",2011,2011)
248,Aladdin,"Ron Clements (dir.), Scott Weinger, Robin Will...",1992,1992)
249,Der Gigant aus dem All,"Brad Bird (dir.), Eli Marienthal, Harry Connic...",1999,1999)

In [59]:
movies1.drop(['release_year_cleaning'], axis=1, inplace=True)

In [60]:
movies1['release_year'] = movies1['release_year'].astype(int)

In [61]:
movies1

,movie_name,director_stars,release_year
0,Die Verurteilten,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",1994
1,Der Pate,"Francis Ford Coppola (dir.), Marlon Brando, Al...",1972
2,The Dark Knight,"Christopher Nolan (dir.), Christian Bale, Heat...",2008
3,Der Pate 2,"Francis Ford Coppola (dir.), Al Pacino, Robert...",1974
4,Die zwölf Geschworenen,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",1957
...,...,...,...
245,"Uzala, der Kirgise","Akira Kurosawa (dir.), Maksim Munzuk, Yuriy So...",1975
246,Gandhi,"Richard Attenborough (dir.), Ben Kingsley, Joh...",1982
247,The Help,"Tate Taylor (dir.), Viola Davis, Emma Stone",2011
248,Aladdin,"Ron Clements (dir.), Scott Weinger, Robin Will...",1992
249,Der Gigant aus dem All,"Brad Bird (dir.), Eli Marienthal, Harry Connic...",1999

In [62]:
movies1.dtypes

movie_name        object
director_stars    object
release_year       int32
dtype: object

In [63]:
movies_df

,movie_name,director_stars,release_year
0,Die Verurteilten,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",1994
1,Der Pate,"Francis Ford Coppola (dir.), Marlon Brando, Al...",1972
2,The Dark Knight,"Christopher Nolan (dir.), Christian Bale, Heat...",2008
3,Der Pate 2,"Francis Ford Coppola (dir.), Al Pacino, Robert...",1974
4,Die zwölf Geschworenen,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",1957
...,...,...,...
245,"Uzala, der Kirgise","Akira Kurosawa (dir.), Maksim Munzuk, Yuriy So...",1975
246,Gandhi,"Richard Attenborough (dir.), Ben Kingsley, Joh...",1982
247,The Help,"Tate Taylor (dir.), Viola Davis, Emma Stone",2011
248,Aladdin,"Ron Clements (dir.), Scott Weinger, Robin Will...",1992
249,Der Gigant aus dem All,"Brad Bird (dir.), Eli Marienthal, Harry Connic...",1999

In [64]:
movies2 = movies_df
movies2

,movie_name,director_stars,release_year
0,Die Verurteilten,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",1994
1,Der Pate,"Francis Ford Coppola (dir.), Marlon Brando, Al...",1972
2,The Dark Knight,"Christopher Nolan (dir.), Christian Bale, Heat...",2008
3,Der Pate 2,"Francis Ford Coppola (dir.), Al Pacino, Robert...",1974
4,Die zwölf Geschworenen,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",1957
...,...,...,...
245,"Uzala, der Kirgise","Akira Kurosawa (dir.), Maksim Munzuk, Yuriy So...",1975
246,Gandhi,"Richard Attenborough (dir.), Ben Kingsley, Joh...",1982
247,The Help,"Tate Taylor (dir.), Viola Davis, Emma Stone",2011
248,Aladdin,"Ron Clements (dir.), Scott Weinger, Robin Will...",1992
249,Der Gigant aus dem All,"Brad Bird (dir.), Eli Marienthal, Harry Connic...",1999

In [65]:
movies2['release_year'] = movies2.release_year.replace(to_replace=r'[()]', value='', regex=True)

In [66]:
movies2

,movie_name,director_stars,release_year
0,Die Verurteilten,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",1994
1,Der Pate,"Francis Ford Coppola (dir.), Marlon Brando, Al...",1972
2,The Dark Knight,"Christopher Nolan (dir.), Christian Bale, Heat...",2008
3,Der Pate 2,"Francis Ford Coppola (dir.), Al Pacino, Robert...",1974
4,Die zwölf Geschworenen,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",1957
...,...,...,...
245,"Uzala, der Kirgise","Akira Kurosawa (dir.), Maksim Munzuk, Yuriy So...",1975
246,Gandhi,"Richard Attenborough (dir.), Ben Kingsley, Joh...",1982
247,The Help,"Tate Taylor (dir.), Viola Davis, Emma Stone",2011
248,Aladdin,"Ron Clements (dir.), Scott Weinger, Robin Will...",1992
249,Der Gigant aus dem All,"Brad Bird (dir.), Eli Marienthal, Harry Connic...",1999

In [67]:
movies2['release_year'] = movies2['release_year'].astype(int)

In [68]:
movies2

,movie_name,director_stars,release_year
0,Die Verurteilten,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",1994
1,Der Pate,"Francis Ford Coppola (dir.), Marlon Brando, Al...",1972
2,The Dark Knight,"Christopher Nolan (dir.), Christian Bale, Heat...",2008
3,Der Pate 2,"Francis Ford Coppola (dir.), Al Pacino, Robert...",1974
4,Die zwölf Geschworenen,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",1957
...,...,...,...
245,"Uzala, der Kirgise","Akira Kurosawa (dir.), Maksim Munzuk, Yuriy So...",1975
246,Gandhi,"Richard Attenborough (dir.), Ben Kingsley, Joh...",1982
247,The Help,"Tate Taylor (dir.), Viola Davis, Emma Stone",2011
248,Aladdin,"Ron Clements (dir.), Scott Weinger, Robin Will...",1992
249,Der Gigant aus dem All,"Brad Bird (dir.), Eli Marienthal, Harry Connic...",1999

In [69]:
movies2.dtypes

movie_name        object
director_stars    object
release_year       int32
dtype: object

In [70]:
movies2['director'] = movies2.director_stars.str.split(',')
movies2

,movie_name,director_stars,release_year,director
0,Die Verurteilten,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",1994,"[Frank Darabont (dir.), Tim Robbins, Morgan ..."
1,Der Pate,"Francis Ford Coppola (dir.), Marlon Brando, Al...",1972,"[Francis Ford Coppola (dir.), Marlon Brando, ..."
2,The Dark Knight,"Christopher Nolan (dir.), Christian Bale, Heat...",2008,"[Christopher Nolan (dir.), Christian Bale, H..."
3,Der Pate 2,"Francis Ford Coppola (dir.), Al Pacino, Robert...",1974,"[Francis Ford Coppola (dir.), Al Pacino, Rob..."
4,Die zwölf Geschworenen,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",1957,"[Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb]"
...,...,...,...,...
245,"Uzala, der Kirgise","Akira Kurosawa (dir.), Maksim Munzuk, Yuriy So...",1975,"[Akira Kurosawa (dir.), Maksim Munzuk, Yuriy..."
246,Gandhi,"Richard Attenborough (dir.), Ben Kingsley, Joh...",1982,"[Richard Attenborough (dir.), Ben Kingsley, ..."
247,The Help,"Tate Taylor (dir.), Viola Davis, Emma Stone",2011,"[Tate Taylor (dir.), Viola Davis, Emma Stone]"
248,Aladdin,"Ron Clements (dir.), Scott Weinger, Robin Will...",1992,"[Ron Clements (dir.), Scott Weinger, Robin W..."
249,Der Gigant aus dem All,"Brad Bird (dir.), Eli Marienthal, Harry Connic...",1999,"[Brad Bird (dir.), Eli Marienthal, Harry Con..."

In [71]:
movies2['director_clean'] = movies2.director.str[0].replace(to_replace=r'[(]dir.[)]', value=' ', regex=True)
movies2

,movie_name,director_stars,release_year,director,director_clean
0,Die Verurteilten,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",1994,"[Frank Darabont (dir.), Tim Robbins, Morgan ...",Frank Darabont
1,Der Pate,"Francis Ford Coppola (dir.), Marlon Brando, Al...",1972,"[Francis Ford Coppola (dir.), Marlon Brando, ...",Francis Ford Coppola
2,The Dark Knight,"Christopher Nolan (dir.), Christian Bale, Heat...",2008,"[Christopher Nolan (dir.), Christian Bale, H...",Christopher Nolan
3,Der Pate 2,"Francis Ford Coppola (dir.), Al Pacino, Robert...",1974,"[Francis Ford Coppola (dir.), Al Pacino, Rob...",Francis Ford Coppola
4,Die zwölf Geschworenen,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",1957,"[Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb]",Sidney Lumet
...,...,...,...,...,...
245,"Uzala, der Kirgise","Akira Kurosawa (dir.), Maksim Munzuk, Yuriy So...",1975,"[Akira Kurosawa (dir.), Maksim Munzuk, Yuriy...",Akira Kurosawa
246,Gandhi,"Richard Attenborough (dir.), Ben Kingsley, Joh...",1982,"[Richard Attenborough (dir.), Ben Kingsley, ...",Richard Attenborough
247,The Help,"Tate Taylor (dir.), Viola Davis, Emma Stone",2011,"[Tate Taylor (dir.), Viola Davis, Emma Stone]",Tate Taylor
248,Aladdin,"Ron Clements (dir.), Scott Weinger, Robin Will...",1992,"[Ron Clements (dir.), Scott Weinger, Robin W...",Ron Clements
249,Der Gigant aus dem All,"Brad Bird (dir.), Eli Marienthal, Harry Connic...",1999,"[Brad Bird (dir.), Eli Marienthal, Harry Con...",Brad Bird

In [72]:
movies2['true_director'] = movies2['director_clean'].str[:] + ',' + ' ' + movies2.director.str[1] + ',' + ' ' + movies2.director.str[2]

In [73]:
movies2

,movie_name,director_stars,release_year,director,director_clean,true_director
0,Die Verurteilten,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",1994,"[Frank Darabont (dir.), Tim Robbins, Morgan ...",Frank Darabont,"Frank Darabont , Tim Robbins, Morgan Freeman"
1,Der Pate,"Francis Ford Coppola (dir.), Marlon Brando, Al...",1972,"[Francis Ford Coppola (dir.), Marlon Brando, ...",Francis Ford Coppola,"Francis Ford Coppola , Marlon Brando, Al Pa..."
2,The Dark Knight,"Christopher Nolan (dir.), Christian Bale, Heat...",2008,"[Christopher Nolan (dir.), Christian Bale, H...",Christopher Nolan,"Christopher Nolan , Christian Bale, Heath L..."
3,Der Pate 2,"Francis Ford Coppola (dir.), Al Pacino, Robert...",1974,"[Francis Ford Coppola (dir.), Al Pacino, Rob...",Francis Ford Coppola,"Francis Ford Coppola , Al Pacino, Robert De..."
4,Die zwölf Geschworenen,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",1957,"[Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb]",Sidney Lumet,"Sidney Lumet , Henry Fonda, Lee J. Cobb"
...,...,...,...,...,...,...
245,"Uzala, der Kirgise","Akira Kurosawa (dir.), Maksim Munzuk, Yuriy So...",1975,"[Akira Kurosawa (dir.), Maksim Munzuk, Yuriy...",Akira Kurosawa,"Akira Kurosawa , Maksim Munzuk, Yuriy Solomin"
246,Gandhi,"Richard Attenborough (dir.), Ben Kingsley, Joh...",1982,"[Richard Attenborough (dir.), Ben Kingsley, ...",Richard Attenborough,"Richard Attenborough , Ben Kingsley, John G..."
247,The Help,"Tate Taylor (dir.), Viola Davis, Emma Stone",2011,"[Tate Taylor (dir.), Viola Davis, Emma Stone]",Tate Taylor,"Tate Taylor , Viola Davis, Emma Stone"
248,Aladdin,"Ron Clements (dir.), Scott Weinger, Robin Will...",1992,"[Ron Clements (dir.), Scott Weinger, Robin W...",Ron Clements,"Ron Clements , Scott Weinger, Robin Williams"
249,Der Gigant aus dem All,"Brad Bird (dir.), Eli Marienthal, Harry Connic...",1999,"[Brad Bird (dir.), Eli Marienthal, Harry Con...",Brad Bird,"Brad Bird , Eli Marienthal, Harry Connick Jr."

In [74]:
movies2['director_stars'] = movies2['true_director']
movies2

,movie_name,director_stars,release_year,director,director_clean,true_director
0,Die Verurteilten,"Frank Darabont , Tim Robbins, Morgan Freeman",1994,"[Frank Darabont (dir.), Tim Robbins, Morgan ...",Frank Darabont,"Frank Darabont , Tim Robbins, Morgan Freeman"
1,Der Pate,"Francis Ford Coppola , Marlon Brando, Al Pa...",1972,"[Francis Ford Coppola (dir.), Marlon Brando, ...",Francis Ford Coppola,"Francis Ford Coppola , Marlon Brando, Al Pa..."
2,The Dark Knight,"Christopher Nolan , Christian Bale, Heath L...",2008,"[Christopher Nolan (dir.), Christian Bale, H...",Christopher Nolan,"Christopher Nolan , Christian Bale, Heath L..."
3,Der Pate 2,"Francis Ford Coppola , Al Pacino, Robert De...",1974,"[Francis Ford Coppola (dir.), Al Pacino, Rob...",Francis Ford Coppola,"Francis Ford Coppola , Al Pacino, Robert De..."
4,Die zwölf Geschworenen,"Sidney Lumet , Henry Fonda, Lee J. Cobb",1957,"[Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb]",Sidney Lumet,"Sidney Lumet , Henry Fonda, Lee J. Cobb"
...,...,...,...,...,...,...
245,"Uzala, der Kirgise","Akira Kurosawa , Maksim Munzuk, Yuriy Solomin",1975,"[Akira Kurosawa (dir.), Maksim Munzuk, Yuriy...",Akira Kurosawa,"Akira Kurosawa , Maksim Munzuk, Yuriy Solomin"
246,Gandhi,"Richard Attenborough , Ben Kingsley, John G...",1982,"[Richard Attenborough (dir.), Ben Kingsley, ...",Richard Attenborough,"Richard Attenborough , Ben Kingsley, John G..."
247,The Help,"Tate Taylor , Viola Davis, Emma Stone",2011,"[Tate Taylor (dir.), Viola Davis, Emma Stone]",Tate Taylor,"Tate Taylor , Viola Davis, Emma Stone"
248,Aladdin,"Ron Clements , Scott Weinger, Robin Williams",1992,"[Ron Clements (dir.), Scott Weinger, Robin W...",Ron Clements,"Ron Clements , Scott Weinger, Robin Williams"
249,Der Gigant aus dem All,"Brad Bird , Eli Marienthal, Harry Connick Jr.",1999,"[Brad Bird (dir.), Eli Marienthal, Harry Con...",Brad Bird,"Brad Bird , Eli Marienthal, Harry Connick Jr."

In [75]:
movies2.drop(['director', 'director_clean', 'true_director'], axis=1, inplace=True)

In [76]:
movies2.head()

,movie_name,director_stars,release_year
0,Die Verurteilten,"Frank Darabont , Tim Robbins, Morgan Freeman",1994
1,Der Pate,"Francis Ford Coppola , Marlon Brando, Al Pa...",1972
2,The Dark Knight,"Christopher Nolan , Christian Bale, Heath L...",2008
3,Der Pate 2,"Francis Ford Coppola , Al Pacino, Robert De...",1974
4,Die zwölf Geschworenen,"Sidney Lumet , Henry Fonda, Lee J. Cobb",1957

In [77]:
movies2.to_csv('Final_imdb_top_movies.csv')